


<section>
<a href="session?entite=user&action=c"> Retour au compte </a>

  <h1>{{ titre|upper }}</h1>
  <p class="mess">{{ messageRetourAction}}&nbsp;</p>   
  
  <form enctype="multipart/form-data" method="POST" action="auctions?entite=auction&action=u&auction_id={{ auction.auction_id }}" class="formAuction form">


    <label>Nom de l'enchère</label>
    <input type="text" name="auction_name" value="{{ auction.auction_name }}">
    <span class="error">&nbsp;{{ erreursA.auction_name }}</span>
<br>
    <label>Description</label>
    <input type="text" name="auction_description" value="{{ auction.auction_description }}">
    <span class="error">&nbsp;{{ erreursA.auction_description }}</span>
<br>

    <label>Début de l'enchère</label>
    <input type="date" name="auction_startDate" value="{{ auction.auction_startDate }}">
    <span class="error">&nbsp;{{ erreursA.auction_startDate }}</span>
<br>

    <label>Fin de l'enchère</label>
    <input type="date" name="auction_finishDate" value="{{ auction.auction_finishDate }}">
    <span class="error">&nbsp;{{ erreursA.auction_finishDate }}</span>
<br>

    <label>Prix plancher</label>
    <input type="number" step="0.01" name="auction_price" value="{{ auction.auction_price }}">
    <span class="error">&nbsp;{{ erreursA.auction_price}}</span>

    
    <input type="hidden" name="auction_user_id" value="{{ auction.auction_user_id }}">

    <input type="hidden" name="auction_status_id" value="{{ auction.auction_status_id }}">



    <h4>Modification du timbre</h4>
   
    <label>Nom du timbre</label>
    <input type="text" name="stamp_name" value="{{auction.stamp_name }}">
    <span class="error">&nbsp;{{ erreursS.stamp_name }}</span>
  <br>
    <label>Estimation du timbre</label>
    <input type="number" step="0.01" name="stamp_price" value="{{ auction.stamp_price }}">
    <span class="error">&nbsp;{{ erreursS.stamp_price}}</span>
<br>
    <label>Description</label>
    <input type="text" name="stamp_description" value="{{ auction.stamp_description }}">
    <span class="error">&nbsp;{{ erreursS.stamp_description }}</span>
<br>

    <label>Date</label>
    <input type="number" name="stamp_date" value="{% if stamp.stamp_date != 0000 %}{{ stamp.stamp_date }} {% endif %}">
    <span class="error">&nbsp;{{ erreursS.stamp_date }}</span>
<br>

    <label>Format</label>
    <input type="text" name="stamp_format" value="{{ auction.stamp_format }}">
    <span class="error">&nbsp;{{ erreursS.stamp_format }}</span>
<br>

    <label>Couleur principale</label>
    <input type="text" name="stamp_color" value="{{ auction.stamp_color }}">
    <span class="error">&nbsp;{{ erreursS.stamp_color }}</span>
<br>

  <label>Certifié</label>
  <select name="stamp_certified">
    <option value="0" {% if stamp_certified == 0 %} selected {% endif %}> Non </option>
    <option value="1" {% if stamp_certified == 1 %} selected {% endif %}> Oui </option>
  </select>
  <span class="error"> &nbsp;{{ erreursS.stamp_certified }}</span>
<br>

  <label>Pays d'origine</label>
  <select name="stamp_location_id">
    <option value="" disabled selected>Pays</option>   
  {% for location in locations %}
    <option value="{{ location.location_id}}" {% if location.location_id == auction.stamp_location_id %} selected {% endif %}> {{ location.location_name }} </option>
   {% endfor %}
  </select>
  <span class="error">&nbsp;{{ erreursS.stamp_location_id }}</span>

  <br>
  <label>Condition</label>
  <select name="stamp_condition_id">
    <option value="" disabled selected>Conditions</option>   
  {% for condition in conditions %}
    <option value="{{ condition.condition_id}}" {% if condition.condition_id == auction.stamp_condition_id %} selected {% endif %}> {{ condition.condition_def }} </option>
   {% endfor %}
  </select>
  <span class="error">&nbsp;{{ erreursS.stamp_condition_id }}</span>

  <br>
  <label>Rareté</label>
  <select name="stamp_rareness_id">
    <option value="" disabled selected>Rareté</option>   
  {% for rarenes in rareness %}
    <option value="{{ rarenes.rareness_id}}" {% if rarenes.rareness_id == auction.stamp_rareness_id %} selected {% endif %}> {{ rarenes.rareness_def }} </option>
   {% endfor %}
  </select>
  <span class="error">&nbsp;{{ erreursS.stamp_rareness_id }}</span>
<br>

    
    <input type="hidden" name="auction_user_id" value="{{ user.user_id }}">
    <input type="hidden" name="stamp_id" value="{{ auction.stamp_id }}">
    <input type="hidden" name="auction_status_id" value="2">

    <input type="submit" value="Envoyer" class="button">

  </form>
</section>