<section class="courriel">
  <h3>Bonjour  {{ oUtilisateur.utilisateur_prenom }} {{ oUtilisateur.utilisateur_nom }},</h3>

  <p>Nous avons le plaisir de vous transmettre votre identifiant de connexion et votre mot de passe pour accéder à l'administration de notre site Le Méliès.</p>
  
  <p>Identifiant: <strong class="user">{{ oUtilisateur.utilisateur_courriel }}</strong></p>
  <p>Mot de passe: <strong class="user">{{ oUtilisateur.utilisateur_mdp }}</strong></p>

{% if (oUtilisateur.utilisateur_profil == constant('Utilisateur::PROFIL_ADMINISTRATEUR')) or  (oUtilisateur.utilisateur_profil == constant('Utilisateur::PROFIL_EDITEUR')) %}
  <p><a href="http://{{ http_host }}{{ constant('Routeur::BASE_URI') }}admin">Cliquez sur ce lien pour accéder à notre interface d'administration</a></p>
{% endif %}


{% if oUtilisateur.utilisateur_profil == constant('Utilisateur::PROFIL_UTILISATEUR') %}
  <p><a href="http://{{ http_host }}{{ constant('Routeur::BASE_URI') }}">Cliquez sur ce lien pour accéder à notre page d'accueil</a></p>
{% endif %}
  
  <p>Cordialement,</p>
  <p>l'équipe du Méliès</p>
  <div class="signature"> Le Méliès</div>
</section>