<script>
	history.pushState({}, '', 'auctions?entite=auction&action=l')
</script>

<section>
<a href="session?entite=user&action=c"> Retour au compte </a>
  <h1>{{ titre|upper }}</h1>

 <p class="messageRetourAction {{ classRetour }}">{{ messageRetourAction}}&nbsp;</p>   
      <div class=" list">
  {% for auction in auctions %}
    
    
        <article class="card ">
          <div class="header">
            <h5>Lot # {{ auction.auction_id}}</h5>
           
          </div>
            
          <div class="content">

            <div class="img-name">
              <a href="auctions?entite=auction&action=sd&auction_id={{ auction.auction_id }}">
                
                <img src="{{auction.image_link}}" alt="">
                <h4>{{ auction.auction_name}}</h4>
              </a>
            </div>
            <div class="info-btn">
              <div class="info">
                <span>Date début : {{auction.auction_startDate | date("d/m/Y")}} </span>
                <span>Date fin : {{auction.auction_finishDate | date("d/m/Y")}} </span>
                
              </div>
              <div>
                <a href="auctions?entite=auction&action=u&auction_id={{ auction.auction_id }}" class=" {% if auction.bid_id == null %} button{% else %} button-inactif {% endif %}">Modifier</a>
                <br>
                <a data-href="auctions?entite=auction&action=d&auction_id={{ auction.auction_id }}" class=" {% if auction.bid_id == null %} button{% else %} button-inactif {% endif %} confirmer">Supprimer</a>
              </div>
            </div>
          </div>
          </article>
     
     
    
  {% else %}
    <div>Aucun enchère.</div>
  {% endfor %}
  </div>
</section> 
{{ include("modaleSuppression.twig") }}
