<section>
  <h1>{{ titre|upper }}</h1>
  <p class="mess">{{ messageRetourAction|raw}}&nbsp;</p>   
  
  <form method="POST" action="session?entite=user&action=a"  class="form">

    <label>Prénom</label>
    <input type="text" name="user_firstName" value="{{ user.user_firstName }}">
    <span class="error">&nbsp;{{ erreurs.user_firstName }}</span>
<br>
    <label>Nom</label>
    <input type="text" name="user_lastName" value="{{ user.user_lastName }}">
    <span class="error">&nbsp;{{ erreurs.user_lastName }}</span>
<br>
    <label>Courriel</label>
    <input type="email" name="user_email" value="{{ user.user_email }}">
    <span class="error">&nbsp;{{ erreurs.user_email }}</span>
<br>
    <label>Mot de passe</label>
    <input type="password" name="user_password" value="{{ user.user_password }}">
    <span class="error">&nbsp;{{ erreurs.user_password }}</span>
<br>
    <label>Adresse</label>
    <input type="text" name="user_address" value="{{ user.user_address }}">
    <span class="error">&nbsp;{{ erreurs.user_address}}</span>
<br>
    <label>Ville</label>
    <input type="text" name="user_city" value="{{ user.user_city }}">
    <span class="error">&nbsp;{{ erreurs.user_city }}</span>
<br>
    <label>Code postal</label>
    <input type="text" name="user_zipCode" value="{{ user.user_zipCode }}">
    <span class="error">&nbsp;{{ erreurs.user_zipCode }}</span>

<br>

    <input class="button" type="submit" value="Envoyer">

  </form>
</section>
